// Reset style

html, body, div, span, h1, h2, h3, h4, h5, address,
img, strong, i, p, center, ul, ol, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, footer, header, hgroup,
menu, nav, section, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, footer, header,
hgroup, menu, nav, section {
    display: block;
}
a {
	text-decoration: none;
	color: black;
    outline: none;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-size: 100%;
}
